* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color principal= #6c63ff 
       background: #121212
       background2: #0a0a0a
       texto claro: #f5f5f5
       texto gris: #aaaaaa
       background carta: #2d2d2d
       transition: all .3s ease
    */
}

html{
    scroll-behavior: smooth;
    scrollbar-color: #6c63ff;

}